/* General Style */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
  background: #2b4caf;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  color: white;
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

/* Common section format */
.section {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Form Design */
.student-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.student-form label {
  font-weight: bold;
  margin-top: 10px;
}

.student-form input {
  padding: 8px;
  margin-top: 5px;
}

.student-form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #2b4caf;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

/* Table Design */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #aaa;
  padding: 10px;
  text-align: center;
}

table img {
  border-radius: 5px;
}

/* Action Buttons */
.btn {
  text-decoration: none;
}
.view-btn {
  background: #6cc24a;
  color: white;
  padding: 6px 10px;
  border: none;
}

.edit-btn {
  background: #f79e1b;
  color: white;
  padding: 6px 10px;
  border: none;
}

.delete-btn {
  background: #e74c3c;
  color: white;
  padding: 6px 10px;
  border: none;
}

/* Footer CSS */
.footer {
  width: 100%;
  background-color: #2b4caf;
  padding: 15px;
  text-align: center;
  color: white;
  margin-top: 40px;
  font-size: 14px;
}
.edit-img {
  height: 100px;
  width: 100px;
}

.title {
  text-align: center;
}

.search-section {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 10px; */
}

.search-input {
  padding: 8px;
  width: 260px;
  border-radius: 4px;
  border: 1px solid #bbb;
  outline: none;
}

.search-input:focus {
  border-color: #007bff;
}

.search-btn {
  padding: 8px 18px;
  margin-left: 8px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.search-btn:hover {
  background-color: #0056b3;
}

.sort-icon {
  text-decoration: none;
}
