/* General Style */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
    background: #2B4CAF;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar .logo {
    color: white;
    margin: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

/* Common section format */
.section {
    padding: 30px;
}

/* Form Design */
.student-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.student-form label {
    font-weight: bold;
    margin-top: 10px;
}

.student-form input {
    padding: 8px;
    margin-top: 5px;
}

.student-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #2B4CAF;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

/* Table Design */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #aaa;
    padding: 10px;
    text-align: center;
}

table img {
    border-radius: 5px;
}

/* Action Buttons */
.btn{
    text-decoration: none;
}
.view-btn {
    background: #6cc24a;
    color: white;
    padding: 6px 10px;
    border: none;
}

.edit-btn {
    background: #f79e1b;
    color: white;
    padding: 6px 10px;
    border: none;
}

.delete-btn {
    background: #e74c3c;
    color: white;
    padding: 6px 10px;
    border: none;
}


/* Footer CSS */
.footer {
    width: 100%;
    background-color: #2B4CAF;
    padding: 15px;
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 14px;
}
.edit-img{
    height: 100px;
    width: 100px;
}