{% extends 'base.html' %}



{% block title %}
Edit Student - Student Management
{% endblock title %}



{% block content %}
<!-- Add Student Form -->
<section id="add" class="section">
    <h2>Add Student</h2>

    <form class="student-form" method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        <label>Student Name:</label>
        <input type="text" placeholder="Enter name" name="name" value="{{ student.name }}" required>

        <label>Email:</label>
        <input type="email" placeholder="Enter email" name="email" value="{{ student.email }}" required>

        <label>Upload Image:</label>
        <img src="{{ student.image.url }}" class="edit-img" alt="">
        <input type="file" accept="image/*" name="image">

        <button type="submit">Submit</button>
    </form>
</section>
{% endblock content %}